body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  box-sizing: border-box;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет фона #E5E5E5 */
/* акцент #2196F3 */
/* цвет ссылок в футере color: rgba(255, 255, 255, 0.6);*/

:root {
  --primary-text-color: #212121;
  --primary-backround-color: #ffffff;
  --secondary-text-color: #757575;
  --backround-color: #e5e5e5;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --large-font-weight: 900;
  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --title-line-height: 1.17;
  --text-line-height: 1.71;
}

/* Утилиты */

h1,
h2,
h3,
p,
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.titles .description {
  line-height: var(--title-line-height);
}

.list.titles {
  display: flex;
  justify-content: space-between;
}
.list.titles .item {
}

/* header */
.page-header {
  line-height: var(--title-line-height);
  font-weight: var(--medium-font-weight);
}
/* logo */
.container.main-nav > .link,
.page-footer > .link {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

/* container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
/* контейнер с изображениями */

.titles.image {
  padding-bottom: 50px;
}

/* контейнер с аватарами */

/* .container.team {
  padding-bottom: 94px;
} */

/* container portfolio */

.container.team .list {
  display: flex;
  justify-content: space-around;
}

/* .container.footer {
  display: flex;
} */

.titles.surnames {
  /* padding-top: 94px; */
  padding-bottom: 50px;
}

.navigation {
  margin-left: 93px;
}
/* main nav */
.main-nav {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.web-logo {
  color: var(--accent-color);
}

.list.nav {
  display: flex;
}

.list.address {
  display: flex;
  margin-left: auto;
}

.list.address .item + .item {
  margin-left: 50px;
}

.list.nav .item:not(:last-child) {
  margin-right: 40px;
}

/* hero */
.hero {
  text-align: center;
  background-color: var(--footer-color);
  padding: 200px;
}
/* h1 */
.title {
  font-size: 44px;
  text-align: center;
  color: var(--primary-backround-color);
  text-transform: uppercase;
  padding-bottom: 30px;

  line-height: 1.36;
  font-weight: var(--large-font-weight);
}
.titles {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

/* image names */
.names {
  text-align: center;
  padding: 30px 59px 30px 60px;
}
.title-text {
  padding-top: 10px;
}

.item.team {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* portfolio menu flex */
.list.wrapper {
  display: flex;
  justify-content: center;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list.wrapper + .list.wrapper {
  margin-top: 50px;
  flex-wrap: wrap;
}

.list.wrapper .item {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

/* сетка портфолио */
.item.wrapper:nth-child(3n) {
  margin-right: 0;
}

.item.wrapper:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list.flex {
  display: flex;
}
.list.flex .item {
  width: 270px;
}
/* .list.titles .item:not(:last-child) {
  margin-right: 50px;
} */

.list.flex .item:not(:nth-child(4)) {
  margin-right: 30px;
}

.description {
  font-size: 16px;
  padding-bottom: 10px;
}
.description-text {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: var(--text-line-height);
  /* font-weight: 400; */
}
.titles > .item,
.img-title {
  font-size: 16px;
}
.img-title {
  font-weight: var(--medium-font-weight);
  line-height: var(--title-line-height);
}

/* section */

.section,
.section-title {
  padding-bottom: 94px;
}

.section.team {
  padding-top: 94px;
}

.section > .title,
.titles.title {
  visibility: hidden;
}
.button {
  line-height: 1.88;
  font-size: 16px;
  font-family: inherit;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}

.button.primary {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border-color: var(--accent-color);

  color: var(--primary-backround-color);
  background-color: var(--accent-color);
  font-weight: var(--bold-font-weight);
}

.section-title > .list.flex {
  font-size: 14px;
  line-height: var(--text-line-height);
}

.link {
  color: var(--primary-text-color);
  font-size: 14px;
  text-decoration: none;
}

.link:hover,
.link:focus,
.link-address:hover,
.link-address:focus,
.item-footer > .link:hover,
.item-footer > .link:focus,
.link.footer:hover,
.link.footer:focus {
  color: var(--accent-color);
}

.list.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-btn {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  cursor: pointer;
  line-height: 1.63;
  background-color: var(--secondary-background-color);
  padding: 6px 22px;
  border: var(--primary-backround-color);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--backround-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current {
  color: var(--accent-color);
}

.team {
  background-color: var(--secondary-background-color);
}
/* .navigation {
  font-size: 14px;
} */

.address {
  list-style: none;
  font-style: normal;
  line-height: var(--text-line-height);
}

.address.footer {
  padding-top: 20px;
}

.link-address,
p {
  color: var(--secondary-text-color);
}
.link-address {
  text-decoration: none;
  font-size: 14px;
}

.link.footer {
  color: var(--primary-backround-color);
}
.item-text {
  font-size: 16px;
  line-height: 1.88;
  padding: 4px 24px 20px 24px;
}

.item-title {
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px 4px 24px;
}

.item-footer > .link {
  color: #ffffff60;
}

.list > .item-footer:not(:last-child) {
  padding-bottom: 9px;
}

.img-title + p {
  line-height: inherit;
  font-weight: var(--medium-font-weight);
}
.location {
  font-size: 14px;
  color: var(--primary-backround-color);
  padding-bottom: 9px;
}
.page-footer {
  /* display: flex; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-footer {
  background-color: #2f303a;
}

/* h1 portfolio */
